.home{
    background: url("https://res.cloudinary.com/dsxyzdqvo/image/upload/v1681372216/home_biij1n.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.5rem;
    opacity: 0.8;


}

.box{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    opacity: 1;

}